*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Bold;
    src: url(../Assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: Medium;
    src: url(../Assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: Regular;
    src: url(../Assets/fonts/Ubuntu-Regular.ttf);
}

body{
    height: 100vh;
    background-color: hsl(206, 94%, 87%);
    color: white;
}

.container{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    background-color: white;
    padding: 30px;
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
form{
    width: 90%;
    margin-top: 50px;
    /* overflow: hidden; */
}
.form-control{
    background-image: url(../Assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size:contain;
    width: 35%;
    border: 1px solid black;
}
.form-holder{
    width: 55%;
    color: black;
    display: flex;
    justify-content: center;
}
.form-holder h1{
    color: hsl(213, 96%, 18%);
    font-size: 2rem;
    font-family: Bold;
}
input[type="text"],[type="email"], [type="number"]{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    border-style:solid;
    margin: 10px 0px 20px 0px;
}

input[type="text"]:focus{
    border-style: none;
    border: 1px solid red;
}
.control{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 10px;
}
.form-number{
    margin-right: 10px;
    color: #ffff
}
.circle{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #ffff;
}
.active{
    background-color: #ffff;
    color: #000000;
}
.form-control p{
    color: hsl(228, 100%, 84%);
    font-family: Regular;
}
.form-control h2{
    font-family: Medium;
    font-size: 1.2rem;
}
button{
    padding: 10px;
    background-color: hsl(243, 100%, 62%);
    border: none;
}


/* Plan */
.tab{
    display: none;
}
.select-plan{
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}
.plan{
    display: flex;
    border: 1px solid red;
    width: 100%;
    justify-content: space-between;
}

.plan section{
    border: 2px solid hsl(243, 100%, 62%);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 0px 20px;
}
.plan-bg{
    background-color: hsl(206, 94%, 87%);
}
.control:hover{
    cursor: pointer;
}


.switch{
    display: flex;
    border: 1px solid black;
    justify-content: center;
}
.switch p{
    margin: 0rem 1rem;
}
.plan section:hover{
    cursor:pointer;
}

.plan-switch{
    border: 2px solid black;
    width: 45px;
    height: 20px;
    display: flex;
    background-color: blue;
    align-items: center;
    border-radius: 10px;
}
.plan-switch:hover{
    cursor: pointer;
}
.switch-end{
    justify-content: flex-end;
}

.plan-toggle{
    background-color: #ffff;
    height: 15px;
    width: 15px;
    margin-left: .1rem;
    margin-top: .1rem;
    margin-bottom: .1rem;
    /* border: 2px solid white; */
    display: block;
    border-radius: 50%;
}

.months{
    display: none;
}

/* Adds-0ns */

.add-ons{
   
}
.multiplayer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;

}

.online{
    display: flex;
    width: 58%;
    justify-content: space-between;
}